# APLICAÇÃO
SECRET_KEY=troque-esta-chave-em-producao
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0


# BANCO DE DADOS
POSTGRES_DB=nexa_chamados
POSTGRES_USER=nexa_user
POSTGRES_PASSWORD=troque-esta-senha